<?xml version="1.0"?>

<launch>
  <node pkg="r550_gazebo" type="movetest_node" name="movetest_node" output="screen" required="true">
      <param name="x0" type="double" value="0.0"/>
      <param name="y0" type="double" value="-3.0"/>
      <param name="z0" type="double" value="0.25"/>
      <param name="vx0" type="double" value="1.0"/>
      <param name="vy0" type="double" value="0.0"/>

      <param name="x1" type="double" value="5.0"/>
      <param name="y1" type="double" value="-1.0"/>
      <param name="z1" type="double" value="0.25"/>
      <param name="vx1" type="double" value="0.5"/>
      <param name="vy1" type="double" value="-1.0"/>
  
      <param name="x2" type="double" value="5.0"/>
      <param name="y2" type="double" value="6.0"/>
      <param name="z2" type="double" value="0.25"/>
      <param name="vx2" type="double" value="0.5"/>
      <param name="vy2" type="double" value="-1.0"/>
  </node>
</launch>