<?xml version="1.0"?>
<launch>
 <include file="$(find r550_gazebo)/launch/dynamic/r550_gazebo_dynamic_env.launch" />
 <include file="$(find r550_gazebo)/launch/include/pose_ekf.launch" />
 <include file="$(find r550_gazebo)/launch/include/amcl.launch" />

 <node name="map_server" pkg="map_server" type="map_server" args="$(find r550_gazebo)/maps/museum.yaml" />


 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find r550_gazebo)/rviz/navigate.rviz" />
</launch>