<?xml version="1.0"?>
<launch>
 <include file="$(find r550_gazebo)/launch/r550_gazebo.launch" />
 <include file="$(find r550_gazebo)/launch/include/pose_ekf.launch" />
 <include file="$(find r550_gazebo)/launch/include/gmapping.launch" />
 <include file="$(find r550_gazebo)/launch/include/move_base_sim.launch" />

 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find r550_gazebo)/rviz/navigate.rviz" />


</launch>