<?xml version="1.0"?>

<launch>
    <!-- Loading the experimental environment -->
    <include file="$(find r550_gazebo)/launch/dynamic/dynamic_env.launch"/>
    <!-- Add a mobile information release node -->
    <include file="$(find r550_gazebo)/launch/dynamic/movetest_node.launch" />
    <!-- Load robot description -->
    <include file="$(find r550_gazebo)/launch/r550_rviz.launch" />
    <!-- Spawn the robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
            args="-urdf -model r550 -param robot_description -x 0 -y 0 -z 0.5" />
</launch>